# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
cmake-build-*/

# idea configuation files
.idea/

# Resouces files
executable/svm/images
executable/svm/videos
executable/calibration/data

#vcpkg
.vcpkg
